[submodule "client-gateway"]
	path = client-gateway
	url = https://github.com/Nest-Microservices-jesusbenagal/client-gateway.git
[submodule "products-ms"]
	path = products-ms
	url = https://github.com/Nest-Microservices-jesusbenagal/products-microservice.git
[submodule "orders-ms"]
	path = orders-ms
	url = https://github.com/Nest-Microservices-jesusbenagal/orders-microservice.git
[submodule "payments-ms"]
	path = payments-ms
	url = https://github.com/Nest-Microservices-jesusbenagal/payments-microservice.git
[submodule "auth-ms"]
	path = auth-ms
	url = https://github.com/Nest-Microservices-jesusbenagal/auth-ms.git
